
.btn-whatsapp:hover {
	
	background-color: #1fce5f;
	outline: 2px rgba(255,155,5,1) solid;
	transition: all .5s;
	-webkit-box-shadow: 0px 0px 20px -2px rgba(221,177,32,1) ;
	-moz-box-shadow: 0px 0px 20px -2px rgba(221,177,32,1) ;
	box-shadow: 0px 0px 20px -2px rgba(221,177,32,1) ;

}

/*Header Version PC*/

.span12.text-center.font-small {
	z-index: 99;
}


.container header .row-fluid.search-logo-cart-container {
	background: rgb(221,177,32);
	width: 100%;
	background: radial-gradient(circle, rgba(221,177,32,1) 0%, rgba(255,155,5,1) 67%);;
}

.logo-img-container.mobile-logo-home.text-center-xs a img {
	border-radius: 20px ;
	border: 2px solid #000;
	border-radius: 50px;
	box-shadow:  10px 10px 35px #bebebe,-10px -10px 35px #fff;
}

.logo-img-container.mobile-logo-home.text-center-xs a img:hover {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	transition: all .4s ease-in;
}

.span4.col-xs-3-custom .searchbox.p-relative.hidden-phone {
	transform: translateX(25px);
}

.js-search-container.js-search-form input {
	background-color: #fff !important;
	border: #000 solid 2px !important;
	color: #000 !important;
	border-radius: 10px;
    padding: 5px !important;
	box-shadow:  20px 20px 60px #bebebe,
	-20px -20px 60px #ffffff;
}

.js-search-container.js-search-form input:focus {
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
	transition: all .4s ease-in;

}

.btn.btn-desktop-search svg:hover {
	fill: rgba(255,155,5,1);
	transform: scale(1.2);
	transition: all .4s ease-in;
}

.user-access.font-small-extra.m-right-quarter.align-middle.hidden-phone {
	transform: translateX(25px);
}

.user-access.font-small-extra.m-right-quarter.align-middle.hidden-phone a {
	font-size: 11px;
	font-weight: 900;
	padding: 3px;
	border-radius: 15px;
	text-decoration: none;
}

.user-access.font-small-extra.m-right-quarter.align-middle.hidden-phone a:hover {
	color: #fff;
	border: 2px solid #fff;
	transition: all .4s ease-in;
}

.js-toggle-cart.js-fullscreen-modal-open.h5 .svg-inline--fa:hover {
	fill: #fff;
	transition: all .4s ease-in;

}

.cart-summary.p-relative.d-inline-block {
	transform: translate(-7px, -46px);
}

.cart-summary.p-relative.d-inline-block:hover {
	border: 2px solid white;
    border-radius: 15px;
}

@media (min-width:770px) AND (max-width:818px) {

	.cart-summary.p-relative.d-inline-block {
		transform: translate(-7px, -46px);
	}

	.user-access.font-small-extra.m-right-quarter.align-middle.hidden-phone {
		transform: translate(-15px, 20px);
	}
}


/* Header pantalla mobile */

@media (max-width: 769px) {
	.cart-summary.p-relative.d-inline-block {
		transform: translate(-7px, 0px);
		padding: 4px !important;
	}
}

.js-toggle-mobile-search.js-toggle-mobile-search-open.mobile-search-btn.text-center.d-inline-block.h5 {
	transform: translate(-10px, 0px)
}

.svg-icon-text svg:hover {
	fill: #fff;
	transform: scale(1.2);
	transition: all .4s ease-in;
	cursor: pointer;
}

.js-modal-open.text-center.visible-phone.pull-left .mobile-nav-first-row-icon.p-relative.svg-icon-text {
	font-size: 11px;
	font-weight: 900;
}

/* Navbar para PC*/

.desktop-nav,
.desktop-nav-list {
border-radius: 10px;
background: linear-gradient(66deg, #1e1e1e, #2f2e2e, #1e1e1e, #2f2e2e, #1e1e1e);
box-shadow: 15px 15px 40px #8f8d8d, -15px -15px 40px #ccc;
			 padding: 14px 0px;
			 font-size: 10px;
			 font-weight: 600;
			 letter-spacing: 1px;
			 text-decoration: none;
}

.js-desktop-nav.desktop-nav.hidden-phone.font-small .js-desktop-nav-item.desktop-nav-item.js-nav-main-item {
	border-radius: 10px;
	background-color: rgba(255,155,5,1);
	text-decoration: none;
	border: 2px #fff solid;
	font-weight: 900;
}

.js-desktop-nav.desktop-nav.hidden-phone.font-small .js-desktop-nav-item.desktop-nav-item.js-nav-main-item:hover {

	background-color: rgba(221,177,32,1);
	text-decoration: none;
	border: 2px #858585 solid;
	transition: all .4s ease-in;
}

.js-desktop-nav-item.desktop-nav-item.js-nav-main-item.current {
	background-color: rgba(221,177,32,1) !important;
	border: 2px #858585 solid !important;

}



.nav-item-container .nav-list-link.desktop-nav-link.position-relative,
.js-desktop-nav-item.desktop-nav-item.js-nav-main-item .nav-list-link.desktop-nav-link {
	text-decoration: none;
	color: #fff;
	border: none;
}

.nav-item-container .nav-list-link.desktop-nav-link.position-relative:hover,
.js-desktop-nav-item.desktop-nav-item.js-nav-main-item .nav-list-link.desktop-nav-link:hover {
	color: #858585;
	transition: all .4s ease-in;
}

.js-desktop-nav-item.desktop-nav-item.js-nav-main-item.current .nav-list-link.desktop-nav-link.current,
.js-desktop-nav-item.js-item-subitems-desktop.desktop-nav-item.js-nav-main-item.current div a {
	color: #858585;
}


